- partial = params[:assets].singularize

- if @attached
  $('##{h params[:assets]}').prepend('#{ j render(:partial => "#{params[:assets]}/#{partial}", :collection => [ @attachment ]) }');
  - if called_from_landing_page?(:accounts)
    = refresh_sidebar_for(:accounts, :show, :summary)

$('##{partial}_#{h params[:asset_id]}').effect("highlight", { duration:1500 });
