%tr.account-contact
  %td
    = form.hidden_field :_destroy, class: 'delete-checkbox'
    = link_to '&times;'.html_safe, '#', class: 'remove-line'
  %td= spacer
  %td
    .label= t('account')
    = form.select :account_id, Account.all.map{|a| [a.name, a.id]}, {}, class: 'select2'
  %td= spacer
  %td
    .label= t('department')
    = form.text_field :department
  %td= spacer
  %td
    .label= t('title')
    = form.text_field :title
