
= hook(:contact_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.top.req{ :class => "#{Setting.require_first_names ? 'req' : nil}" } #{t :first_name}:
          = f.text_field :first_name
        %td= spacer
        %td
          .label.top{ :class => "#{Setting.require_last_names ? 'req' : nil}" } #{t :last_name}:
          = f.text_field :last_name
      %tr
        %td
          .label #{t :email}:
          = f.text_field :email
        %td= spacer
        %td
          .label #{t :phone}:
          = f.text_field :phone

      %tr
        %td
          .label #{t :accounts}:
          = f.select :account_ids, Account.all.map{|a| [a.name, a.id]}, {}, multiple: true, class: 'select2'
        %td= spacer
        %td
          %p= link_to_function t(:add_new_account), '$(".new-account-field").show(); $(this).hide();', class: 'add-new-account-button'
          .new-account-field{ hidden }
            .label #{t :new_account}:
            = f.text_field :new_account

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:contact_top_section_bottom, self, :f => f)
