= styles_for :contact

= render 'contacts_title'

= render "search"

.remote#options{ hidden }

#export= render "shared/export"

.list#contacts
  - if @contacts.any?
    = render @contacts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
