%li
  %ul.tools
    - if can?(:edit, tag)
      %li= link_to t(:edit), [:edit, tag]
    - if can?(:destroy, tag)
      %li= link_to t(:delete), tag, method: 'delete', confirm: t(:confirm_delete, value: t(:tag))

  .identslim
    = tag_search_link tag
    = "(#{tag.taggings.count})"
