- edit ||= false
.section
  %table
    %tr
      %td
        .label.top.req #{t :username}:
        = f.text_field :username
      %td= spacer
      %td
        .label.top.req #{t :email}:
        = f.text_field :email
    %tr
      %td
        .label #{t :password}:
        = f.password_field :password
      %td= spacer
      %td
        .label #{t :password_confirmation}:
        = f.password_field :password_confirmation
    - unless @user == current_user && !@user.new_record?
      %tr
        %td(colspan=3)
          .check_box(style="margin-top:6px")
            = f.select :role, User.roles_for_select

.subtitle #{t :personal_information}
.section
  %table
    %tr
      %td
        .label #{t :first_name}:
        = f.text_field :first_name
      %td= spacer
      %td
        .label #{t :preposition}:
        = f.text_field :preposition
      %td= spacer
      %td
        .label #{t :last_name}:
        = f.text_field :last_name
    %tr
      %td
        .label #{t :job_title}:
        = f.text_field :title
      %td= spacer
      %td
        .label #{t :company}:
        = f.text_field :company

.subtitle #{t :group_memberships}
.section
  %table
    %tr
      %td
        .label #{t :groups}:
        = f.select :group_ids, Group.all.map {|g| [g.name, g.id]}, {}, :multiple => true, :class => 'select2'
