#confirm{ hidden }
.title_tools#menu
  - if can? :edit, @account
    = link_to_inline(:edit_account, edit_account_path(@account), :text => t(:edit))
  - if can? :destroy, @account
    = link_to_function(t(:delete) + '?', confirm_delete(@account))

.title_tools#buttons
  = view_buttons

.title.accounts#edit_account_title
  = h(@account.name)
  = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

%div#edit_account{ hidden }
