= styles_for :account

= render 'accounts_title'

.remote#create_account{ hidden }

= render 'search'

.remote#options{ hidden }

#export= render "shared/export"

.list#accounts
  - if @accounts.any?
    = render @accounts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
