= styles_for :account

= render 'accounts_title'

%h1= t('merge')

= simple_form_for @account, url: merge_accounts_path do |f|

  - @accounts.each do |account|
    = hidden_field_tag 'accounts[]', account.id

  = hook(:account_top_section, self, :f => f) do
    .section
      %table.duplicates
        %tr
          %td(colspan="5")
            .label.top.req #{t :name}
            = merge_attribute_select @account, @accounts, :name
            = f.text_field :name, hidden.merge( class: 'merge-blank', :style => "width:500px" )
            = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true, :style => "width:500px"
        %tr
          %td
            .label #{t :category}
            = f.select :category, Setting.unroll(:account_category), { :selected => (@account.category || "other").to_sym, :include_blank => t(:other) }, { :style => "width:160px", :class => 'select2' }

        %tr
          %td{ :colspan => 3 }
            %table{ :width => "100%", :cellpadding => 0, :cellspacing => 0 }
              %tr
                %td
                  .label #{t :phone_toll_free}
                  = merge_attribute_select @account, @accounts, :toll_free_phone
                  = f.text_field :toll_free_phone, hidden.merge( class: 'merge-blank', :style => "width:154px" )
                  = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %td= spacer
                %td
                  .label #{t :phone}
                  = merge_attribute_select @account, @accounts, :phone
                  = f.text_field :phone, hidden.merge( class: 'merge-blank', :style => "width:154px" )
                  = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %td= spacer
                %td
                  .label #{t :fax}
                  = merge_attribute_select @account, @accounts, :fax
                  = f.text_field :fax, hidden.merge( class: 'merge-blank', :style => "width:154px" )
                  = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
        %tr
          %td
            .label.top #{t :website}
            = merge_attribute_select @account, @accounts, :website
            = f.text_field :website, hidden.merge( class: 'merge-blank' )
            = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
          %td= spacer
          %td
            .label.top Email
            = merge_attribute_select @account, @accounts, :email
            = f.text_field :email, hidden.merge( class: 'merge-blank' )
            = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
        %tr
          = render :partial => "/shared/tags", :locals => {:f => f }

    .section
      %table.duplicates
        %tr
          %td
            %h2= t('billing_address')
            %table{ style: 'width: 300px;' }
              = f.fields_for :billing_address do |a|
                %tr
                  %td
                    .label #{t :street1}
                    = merge_attribute_select @account.billing_address, @accounts.map(&:billing_address).reject(&:blank?), :street1
                    = a.text_field :street1, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :street2}
                    = merge_attribute_select @account.billing_address, @accounts.map(&:billing_address).reject(&:blank?), :street2
                    = a.text_field :street2, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :city}
                    = merge_attribute_select @account.billing_address, @accounts.map(&:billing_address).reject(&:blank?), :city
                    = a.text_field :city, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :state}
                    = merge_attribute_select @account.billing_address, @accounts.map(&:billing_address).reject(&:blank?), :state
                    = a.text_field :state, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :zipcode}
                    = merge_attribute_select @account.billing_address, @accounts.map(&:billing_address).reject(&:blank?), :zipcode
                    = a.text_field :zipcode, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :country}
                    = a.country_select(:country, priority_countries, { :include_blank => "" }, {:"data-placeholder" => t(:select_a_country), :style => "width:150px; margin-top:6px", :class => 'select2'})

          %td= spacer
          %td
            %h2= t('shipping_address')
            %table{ style: 'width: 300px;' }
              = f.fields_for :shipping_address do |a|
                %tr
                  %td
                    .label #{t :street1}
                    = merge_attribute_select @account.shipping_address, @accounts.map(&:shipping_address).reject(&:blank?), :street1
                    = a.text_field :street1, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :street2}
                    = merge_attribute_select @account.shipping_address, @accounts.map(&:shipping_address).reject(&:blank?), :street2
                    = a.text_field :street2, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :city}
                    = merge_attribute_select @account.shipping_address, @accounts.map(&:shipping_address).reject(&:blank?), :city
                    = a.text_field :city, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :state}
                    = merge_attribute_select @account.shipping_address, @accounts.map(&:shipping_address).reject(&:blank?), :state
                    = a.text_field :state, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :zipcode}
                    = merge_attribute_select @account.shipping_address, @accounts.map(&:shipping_address).reject(&:blank?), :zipcode
                    = a.text_field :zipcode, hidden.merge( class: 'merge-blank' )
                    = text_field_tag 'placeholder', '', class: 'merge-placeholder', disabled: true
                %tr
                  %td
                    .label #{t :country}
                    = a.country_select(:country, priority_countries, { :include_blank => "" }, {:"data-placeholder" => t(:select_a_country), :style => "width:150px; margin-top:6px", :class => 'select2'})


  = f.button :submit
