- if (template = template_for_current_view)
  = render(template, :account => @account)
- else

  = styles_for :contact

  = render 'accounts/title_bar', :account => @account

  %div#edit_account{ hidden }

  #account_info= render 'accounts/account_info', :account => @account

  .subtitle
    %h2= t(:comment)

  = render "comments/new", :commentable => @account

  = render :partial => "shared/timeline", :collection => @timeline

  = hook(:show_account_bottom, self) do

    = render "contacts/contacts", :object => @account

    = render "versions/versions", :object => @account

    = load_select_popups_for(@account, :contacts)
